*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: yellow;
    margin: 0;
}

i{
    color: white;
    width: 20x;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

.gen-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}